
.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
}
.second-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
}
.top-level-menu > li:hover { }

.top-level-menu li:hover > ul
{
    display: inline;
}

.top-level-menu a
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #000000;
    text-decoration: none;
    padding: 0 0 0 10px;
    display: block;
    line-height: 30px;
}

.top-level-menu a:hover { color: #000000a1; }