.top-level-menu
{
    display: flex;
    justify-content: space-around;
}

.top-level-menu > li
{

}

.top-level-menu > li:hover { }

.top-level-menu li:hover > ul
{
    display: inline;
}

.top-level-menu a 
{
    font: bold 14px Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000000;
    padding: 0 0 0 10px;
    display: block;
}

.top-level-menu a:hover { color: #000000; }

.second-level-menu
{
    position: absolute;
    display: none;
}

.second-level-menu > li
{
   
}

.second-level-menu > li:hover { display: inline; }

