h1, h2, h3, h4, h5, h6
{
    font-size: 150px;
    margin: 20px;
}

.hero-image {
  
    background-image: url("/assets/img/hero.jpg");
    height: 50%;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

