* {
    box-sizing: border-box;
  }

  h3
  {
      
  }

.nav-img-h1
{
    font-family: 'Oswald', sans-serif;
}

#hero-image 
{
    width: 100%;
}

#logo
{
    height: auto;
    width: 90px;
    margin: 1rem 0rem 1rem 1rem;
    float: left;
}

    
#menu
{
    float: right;
    text-align: right;
    width: auto;
    font-size: 30px;
    padding: 1rem;
    line-height: 2.5rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgb(255, 255, 255))
    /*background-color: ;*/
}

#menu a
{
    text-decoration: none;
    color: black;
    font-family: 'Oswald', sans-serif;
}

.flex-container 
{
    display: flex;
    display: inline;
}

.flex-items 
{
    display: block;
    justify-content: space-around;
    margin: 1rem;
}
    
.nav-image 
{
    width: 100%;
    border-radius: 2rem 0.2rem 0.2rem 0.2rem;
    border: 8px solid #FFFFFF;
    box-shadow:  0px 0px 8px 2px rgba(0, 0, 0, 0.52);
}

  

  



